*, *::before, *::after {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color:#121212;
    color: #FFF;
    font-family: "Fira Sans";
}


.bold{
    font-weight: 700 ;
    text-decoration: underline;
}

h1{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2{
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

h3{
font-size: 1.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

p{
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 1.75rem;
}

header{
    position:fixed;
    right: 2rem;
    margin-top: 1rem;
}

nav ul{
    display: flex;
    justify-content: end;
    gap:2.5rem;
    font-size: 1.5rem;
    list-style: none;
}

nav a{
    font-weight: normal;
    color: #FFF;
    text-decoration: none;
}

nav a:hover{
    color: #8b8b8b;
    text-decoration: underline;
    text-decoration-color:#8b8b8b ;
    cursor: pointer;
}

#home{
    min-height:60rem;
    max-height:80rem;
}

#home img{
    width: 100%;
    height: auto;
}
#about{
    margin: 10rem 0 12rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
}

#about img{
    height: 25rem;
    width: auto;
}

#about-content{
    height:19.25;
    width: 25rem;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s;
    flex-wrap: wrap;
}

#about-content a{
    text-align: center;
    align-self: center;
    text-decoration: none;
}

@keyframes fadeOut{
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fade{
    animation: fadeOut 1s forwards !important;
}

.button{
    color: #121212;
    background-color: #f76b5b;
    padding: 1rem 2rem 1rem 2rem;
    width: 13rem;
    margin: 2.5rem 0 2.5rem 0;
    font-family: "Fira Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    border-radius: 2rem;
    text-align: center;
    align-self: center;
}

.card a{
    text-align: center;
    align-self: center;
    text-decoration: none;
}

.button:hover{
    background-color: #ff9887;
    cursor: pointer;
    
}

#location-projects{
    height: 2rem;
}
#projects{
    min-height:50rem;
    max-height:80rem;
}
#projects h2{
    text-align: center;
    margin-bottom: 10rem;
    font-size: 4rem;
}

#projects-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    display: flex;
    flex-direction: column;
    flex-basis: 20rem;
    height: 26rem;
    text-align: center;
    background-color:#282828;
    border-radius: 0.75rem;
    padding:2rem;
    
}

.card img{
flex-basis: 18rem;
}

.card h3{
    margin-top: 2rem;
    font-size: 1.75rem;
    height:2rem;

}

.card img{
    width: 20rem;
    max-height: 12rem;
    min-height: 10rem;
}

dialog{
    width: 50%;
    padding: 2rem;
    background-color: #282828;
    color: #FFF;
    border-radius: 1rem;
    overflow-y:hidden;
}

dialog h2{
    margin-bottom: -1rem;
}

dialog img{
    margin-bottom: -2rem;
}

dialog::backdrop{
    background-color:rgba(40, 40, 40, 0.8) ;
}

dialog a{
    text-align: center;
    align-self: center;
    text-decoration: none;
}


.flex-column{
    display: flex;
    flex-direction: column;
    gap:2rem;
}



@media only screen and (max-width: 600px) {
    #home{
        display: none;
    }

    #home img{
        width: 100%;
        height: auto;
        margin-bottom: 0px;
    }

    header{
     display: none;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem; /* Adjust gap */
        justify-content: center; /* Adjust positioning */
    }
    
     #about img{
         width:20rem;
         height: auto;
     }

     .card, .card img{
        width:  18rem;
     }

     .card{
        margin-bottom:4rem;
     }
     dialog{
        width: 75%;
     }


    #about-content{
        width:15rem;}

    .button{
        padding: 1rem 1rem 1rem 1rem;
        width: 10rem;
        margin: 3rem 0 3rem 0;
        font-family: "Fira Sans";
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
        border-radius: 2rem;
        text-align: center;
        align-self: center;
    }
    #projects h2{
        text-align: center;
        margin-bottom: 5rem;
        font-size: 4rem;
    }
   }